body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #3c3432;
  padding: 10px 0;
}

button {
  padding: 10px 20px;
  background:none;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button.active {
box-shadow: 0px 0px 36px 12px rgba(211,224,13,0.37) inset;
-webkit-box-shadow: 0px 0px 36px 12px rgba(211,224,13,0.37) inset;
-moz-box-shadow: 0px 0px 36px 12px rgba(211,224,13,0.37) inset;
}

.menubutton {
  max-width:100%;
  height:auto;
}

.image {
  transition-duration: 2s;
}

.move {
  left: calc(100% - 200px);
}